* {
  color: #000;
}

.weather-box {
  padding: 30px;
  margin: 20px;
  border: 1px solid none;
  border-radius: 25px;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.forecast-icon {
  font-size: 40px;
}

.first-forecast {
  margin-left: 25px;
}

.main-content {
  margin: 10px;
}

.main-icon {
  font-size: 100px;
  margin: 15px 0px;
  padding: 10px;
}

.main-search {
  margin: 50px 0px;
}

.weather-forecast {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.btn-info {
  color: #fff;
  background-color: #373a40;
  border-color: #373a40;
}

.btn-info:hover {
  color: #fff;
  background-color: #212121;
  border-color: #212121;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 25px;
  }
  .first-forecast {
    margin-left: 0px;
  }
  .col-sm {
    width: auto;
  }
  div.col-4 {
    padding: 0px;
  }

  .forecast-icon,
  .main-icon {
    font-size: 22px;
  }
  .main-content {
    margin: 0px;
  }

  .main-icon {
    font-size: 30px;
    margin: 30px 0px;
  }
}
